.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  @media screen and (max-width: 768px) {
    .App {
      flex-direction: column;
    }
  }
  
  .search-container-wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
  