.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

   /* SearchContainer */
  .search-container-wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
  